* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 12px 'Roboto', sans-serif;
	background-color: rgb(50, 0, 0);
}

main {
	padding: 0 32px;
	display: flex;
	flex-flow: wrap row;
	justify-content: space-around;
}

div.box {
	font-size: 16px;
	display: flex;
	flex-flow: nowrap column;
	justify-content: flex-start;
	align-items: center;
	margin: 16px 0;
	padding: 16px 0;
	background-color: rgb(0, 0, 0);
	color: rgb(225, 225, 225);
}

div.box h1 {
	margin-bottom: 16px;
}

div.box h2 {
	margin-bottom: 8px;
}

div.box a {
	text-decoration: none;
	background-color: rgb(225, 225, 225);
	color: rgb(50, 50, 50);
	border-radius: 5px;
	margin: 8px 0;
	padding: 8px;
	border: solid 2px transparent;
}

div.box a:hover {
	border-color: red;
}

div.box.small {
	width: 45%;
}

div.box.large {
	width: 100%;
}