---
layout: bare
title: Home
location: home
---
<main class="container-fluid">
	<div class="jumbotron text-center">
		<h1>Hello!</h1>
		<h3>I am Justin Mariner and I make things</h3>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<h2 class="panel-title text-center medium">
				Projects
			</h2>
		</div>
	</div>

	<div class="row">
		{% assign items = site.data.items | sort:"pos","last" %}
		{% for item in items %}
		<div class="col-xs-12">
			<div class="panel panel-primary item-panel">
				<div class="panel-heading">
					<h2 class="panel-title text-center small">
						{{ item.title }}
					</h2>
				</div>
				<div class="panel-body">
					{% if item.image %}
					{% assign img=item.image %}
					<div class="item-image text-center">
						<a href="{{ item.link }}">
							<img
								src="/img/{{ item.image.file }}"
								alt="{{ item.title }}"
								{% if img.shadow %}class="{{img.shadow }}-shadow"{% endif %}
								style="
									{%- if img.bg %}background-color: {{ img.bg }};{% endif %}
									{%- if img.padding %}padding: {{ img.padding }};{% endif -%}
								">
						</a>
					</div>
					{% endif %}
					<div class="item-desc links-newtab">
						{{ item.desc | markdownify }}
					</div>
					<div class="flex-around">
						<a class="btn btn-info{% unless item.srcLink %} disabled{% endunless %}"
							{% if item.srcLink %}href="{{ item.srcLink }}"{% endif %}
							target="_blank" role="button">
							{% if item.srcLink %}View the code{% else %}Code coming soon{% endif %}&nbsp;
							{% fa github %}
						</a>
						<a class="btn btn-success" href="{{ item.link }}" role="button">
							{% case item.type %}
								{% when "game" %}
									Download
								{% when "web-game" %}
									Play
								{% when "website" %}
									Check it out
							{% endcase %}
							&nbsp;
							{% fa play %}
						</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}

	</div>
</main>
{% include footer.html %}