---
layout: bare
title: Home
location: home
---
<main class="container-fluid">
	<div class="jumbotron text-center">
		<h1>Hello!</h1>
		<h3>I am Justin Mariner and I make things</h3>
	</div>

	<div class="row">

		<div class="col-xs-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 class="panel-title text-center medium">
						Projects
					</h2>
				</div>
			</div>
		</div>

		{% assign items = site.data.items | sort:"pos" %}
		{% for item in items %}
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title text-center small">
						{{ item.title }}
					</h2>
				</div>
				<div class="panel-body">
					{% if item.image %}
					<div class="item-image text-center">
						<img
							src="/img/{{ item.image.file }}"
							alt="{{ item.title }}"
							{% if item.image.shadow %}class="{{ item.image.shadow }}-shadow"{% endif %}
							{% if item.image.bg %}style="background-color: {{ item.image.bg }}"{% endif %}
							>
					</div>
					{% endif %}
					<div class="item-desc links-newtab">{{ item.desc | markdownify }}</div>
					<div class="flex-around">
						<a class="btn btn-info" href="{{ item.srcLink }}" target="_blank" role="button">
							View the code&nbsp;
							{% fa github %}
						</a>
						<a class="btn btn-success" href="{{ item.link }}" role="button">
							Check it out&nbsp;
							{% fa play %}
						</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}

	</div>
</main>