---
---

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Flexbox classes */
@import "flex";

/* Scrollbar customization */
@import "scroll";

/* Common Utilities */
@import "utils";
@import "mixins";

body {
	width: 100vw;
	font: 12px 'Roboto', sans-serif;
}