@mixin dropShadow($xOffset, $yOffset, $blur, $color:black, $alpha:0.5) {
	$color: rgba($color, $alpha);
	$ieColor: ie-hex-str($color);
	$ieFilter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=#{$xOffset}, OffY=#{$yOffset}, Color='#{$ieColor}')";

    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='#{$xOffset}' dy='#{$yOffset}' result='offsetblur'/><feFlood flood-color='#{$color}'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
    -webkit-filter: drop-shadow(#{$xOffset}px #{$yOffset}px #{$blur}px $color);
    -ms-filter: "#{$ieFilter}";
    filter: "#{$ieFilter}";
}

@mixin boxShadow($xOffset, $yOffset, $blur, $color:black, $alpha:0.5) {
	box-shadow: $xOffset $yOffset $blur rgba($color, $alpha);
	-webkit-box-shadow: $xOffset $yOffset $blur rgba($color, $alpha);
	-moz-box-shadow: $xOffset $yOffset $blur rgba($color, $alpha);
}