<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,700,900">
		<link rel="stylesheet" href="{{ site.stylesheet_root }}{{ site.main_stylesheet }}">

		{% for sheet in page.stylesheets %}
			<link rel="stylesheet" href="{{ site.stylesheet_root }}{{ sheet | append:'.css'}}">
		{% endfor %}

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	</head>
	<body data-location="{{ page.location }}">
		{{ content }}
	</body>
</html>