<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,700,900">
		{% capture scss %}
			{% include style.scss %}
			{% for sheet in page.stylesheets %}
				/* ---{{ sheet | append:'.scss' }} */
				{% include {{ sheet | append:'.scss' }} %}
			{% endfor %}
		{% endcapture %}
		<style id="uncommentme">
			/*{{ scss | scssify}}*/
		</style>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script id="precomp">
			$("style#uncommentme").html(function(i, old){
				return old
					.trim().slice(2,-2)
					.replace(/\s*\n\s*/g, " ")
					.replace(/\/\*\s---([^\*\/]+)\*\//g, "\n/* ---$1 */\n");
			}).removeAttr("id");
			$("script#precomp").remove();
		</script>
		<script src="/assets/scripts/style.js"></script>
	</head>
	<body data-location="{{ page.location }}">
		{{ content }}
	</body>
</html>